<?xml version="1.0" encoding="UTF-8"?>

<!-- xml untuk deklarasi JdbcCustomerDao , nanti di Main.XML digunakan untuk menyuntikan DataSource ke JdbcCustomerDao-->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

	<bean id="customerDAO" class="com.belajarspring.dao.impl.JdbcCustomerDao">
		<property name="dataSource" ref="dataSource" />
	</bean>

</beans>
